.compraU {
    display: flex;
    margin-left: 50%;
}

.containerComprar2 {
    margin-top: 5%;
    margin-left: 20%;
}

.precio {
    color: rgb(163, 162, 162);
    font-size: 20px;
}

.colorCol {
    font-size: 20px;
    margin-left: 10px;
    color: rgb(127, 255, 138);
}

.colorSal {
    font-size: 20px;
    margin-left: 5px;
    color: rgb(127, 255, 138);
}

.limit {
    color: rgb(163, 162, 162);
    font-size: 20px;
}

.colorCol2 {
    font-size: 20px;
    margin-left: 10px;

}

.traerWallet{
    display: block;
}

.colorSal2 {
    font-size: 20px;
    margin-left: 5px;

}

.raramedio {
    margin-left: 10px;
}

.containerFlotante {
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
    height: 370px;
    background: rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;

}


.navi {
    margin-left: 40px;
    display: flex;
}

.crip {

    margin-left: 70px;
    color: rgb(168, 168, 168);
    /* border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #111111;
    border-left-color: transparent; */
}

.menos{
    /* border-radius: 300px; */
    height: 1% !important;
    width: 10%;
    font-size: 25px !important;
    margin-left: 10px;
    background: transparent;
    color: #ffff;
    /* background-color: darkgoldenrod; */
}

.mas{
    width: 10%;
    font-size: 25px !important;
    margin-right: 10px; 
    background: transparent;
    color: #ffff;
}

.inputCom {
    width: 30%;
    height: 20%;
    margin-top: 4%;
    margin-left: 35%;
    display: flex;
    /* background: rebeccapurple; */
    background: rgba(59, 59, 59, 0.7);
    overflow: hidden;
    border-radius: 5px;
}

.inpDiner {
    margin-left: 3%;
    width: 100%;
    margin-top: 1%;
    height: 80%;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    background: transparent;
}

.colorCol3 {
    margin-top: 3%;
    font-size: 17px;
    margin-left: 10px;

}

.colorCol4 {
    color: rgb(255, 153, 0);
    margin-top: 3%;
    font-size: 17px;
    margin-left: 10px;

}

.cantidadesTxt {
    margin-top: 4%;
    width: 100%;
    height: 30%;
}

.canti {
    margin-top: 2%;
    margin-left: 20px;
    color: rgba(95, 94, 94, 0.863);
    font-size: 20px;
}

.usrayas {
    margin-top: 2%;
    color: rgba(177, 175, 175, 0.863);
    font-size: 20px;
    margin-left: 1%;
}

.coprayitas {
    margin-top: 2%;
    color: rgba(253, 253, 253, 0.863);
    font-size: 20px;
    margin-left: 1%;
}

.btnComprarr {
    height: 50px;
}

.btnSiuu {
    margin-top: 1%;
    height: 80%;
    width: 40%;
    border-radius: 5px;
    font-weight: bold;
    background: rgb(129, 75, 9);
    color: #ffff;
}

.btnSiuu:hover {
    background: rgb(238, 155, 2);
    color: rgb(255, 255, 255);
}

.texInservible {
    margin-left: -20%;
    margin-top: 5%;
    display: flex;
    height: 200px;
}

.info1 {
    margin-top: 1%;
    margin-left: 1%;
    width: 50%;
    height: 180px;

}

.infor2 {
    margin-top: 0%;
    margin-left: -10%;
    width: 50%;
    height: 180px;
    padding: 1%;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #5a5c5a;
}

.tituinfo {
    font-size: 20px;
    margin-left: -300px;
}

.info2 {
    width: 80%;
    margin-top: 10px;
    display: flex;
}

.ventaPa {

    color: slategray;
    font-size: 18px;
}

.minu {
    font-size: 18px;
    margin-left: 35%;
}

.apodo {
    color: slategray;
    font-size: 18px;
}

.nomapodo {
    font-size: 18px;
    margin-left: 30%;
}

.metoPa {
    color: slategray;
    font-size: 18px;
}

.metoPago {
    font-size: 18px;
    margin-left: 11%;
}

.txtDescri {
    font-size: 20px;
    margin-left: -100px;
}

.controlsComprar{
    width: 70%;
    background: transparent;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 1px;
    /* border: 1px solid #fdfdfd; */
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(114, 113, 113);
}

.saldoconverCol{
    width: 22%;
    margin-top: 2%;
    color: rgba(253, 253, 253, 0.863);
    font-size: 20px;
    margin-left: 40%;
    overflow: hidden;
}

.saldoconverUSD{
    width: 22%;
    margin-top: 2%;
    color: rgba(253, 253, 253, 0.863);
    font-size: 20px;
    margin-left: 40%;
    overflow: hidden;
}




.TasaCambio{
    padding: 1%;
    height: auto;
    width: auto;
    /* background: red; */
}

.DiseñoCompraHtml{
    width: 50%;
    background: rgb(0, 0, 0, 0.4);
    margin-left: 30%;
    border-radius: 10px;
    overflow: hidden;
}

.tasC{
    
    color: rgb(240, 175, 12) !important;
}

.correrBody2{
    margin-right: 70%;
    
}

.correrBody{
    width: 40%;
    margin-right: 70%;
    
}

.correrHeader{
    width: 50%;
    margin-right: 70%;
    font-size: 25px !important;
    color: rgb(255, 153, 0) !important;
}

.diseñoBody{
    font-size: 20px;
   
}



.diseñoBody2    {
    font-size: 20px;
  
}

.mediosDePago{

width: 30%;

}

.tituMP{
    margin-left: 10%;
    width: 100%;
    font-size: 25px !important;
    color: goldenrod !important;
}

.imagenMeP{
    margin-left: 10% !important;
}

.nomMePa{
    margin-left: 5px;
}

@media (max-width: 450px) {

    .DiseñoCompraHtml{
        width: 110%;
        background: rgb(0, 0, 0, 0.4);
        margin-left: 8%;
        border-radius: 10px;
        overflow: hidden;
    }

   .correrHeader{
    width: 80%;
   }

    .correrBody2{
        width: 40%;
        
    }

    .correrBody{
        width: 70%;
        
    }

    .mediosDePago{

        width: 50%;
        
    }
    .compraU {
        margin-top: 10px;
        display: flex;
        margin-left: 50%;
    }

    /* .containerComprar2{
        height: 900px;
    }
     */
    .precio{
        font-size: 17px;
    }

    .colorCol{
        font-size: 17px;
    }

    .colorSal{
        font-size: 17px;
    }

    .limit{
        font-size: 17px;
    }
    
    .colorCol2{
        font-size: 17px;
    }

    .colorSal2{
        font-size: 17px;
    }

    .canti{
        font-size: 17px;
    }

    .saldoconverUSD{
        font-size: 17px;
        margin-left: 150px;
    }

    .usrayas{
        font-size: 17px;
        margin-left: 10px;
    }

    .saldoconverCol{
        font-size: 17px;
        margin-left: 150px;
    }

    .coprayitas{
        font-size: 17px;
        margin-left: 10px;
    }

    .form-content{
        height: 1000px;
    }

    .containerFlotante {
        margin-top: 5%;
        margin-left: -17%;
        width: 140%;
        height: 430px;
        background: rgb(0, 0, 0, 0.4);
        border-radius: 10px;
        overflow: hidden;
    }

    .texInservible {
        width: 140%;
        margin-left: -15%;
        margin-top: 5%;
        display: block;
        height: 400px;
        overflow: hidden;
    }

    .info1 {
        margin-top: 1%;
        margin-left: 40%;
        width: 50%;
        height: 180px;

    }

    .tituinfo {
        font-size: 20px;
        margin-left: -300px;
    }

    .info2 {

        width: 200%;
        margin-left: -150px;
        margin-top: 10px;
        display: flex;

    }

    .infor2 {
        margin-top: 0%;
        margin-left: -1%;
        width: 100%;
        overflow: hidden;
        height: 180px;
        padding: 1%;
        border-style: solid;
        border-width: 1px;
        border-top-color: #5a5c5a;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    .txtDescri {
        font-size: 20px;
        margin-left: 10px;
    }
}