.divHistorialAdmin {
    overflow: auto;
    width: 60%;
    height: 600px;
    margin-left: 20%;
    margin-top: 1%
}


.descripHisAdmin {

    width: 90%;
    text-align: center;
    overflow: hidden;
    margin-top: 2%;
}

.titudescripHisAdmin {

    width: 90%;
    text-align: center;
    overflow: hidden;
    margin-top: 2%;
    font-weight: bold;

}

.divHisAdminPadre {

    margin-left: 5%;
    display: flex;
    width: 90%;
    height: auto;

}

.divHisAdminPadre2 {

    margin-left: 5%;
    display: flex;

    width: 90%;
    height: auto;
    margin-top: 1%;

}


.cuentaDe {

    width: 47%;
    display: block;
    margin-left: 2%;
    overflow: hidden;

}

.cuentaOr {

    width: 47%;
    display: block;
    margin-left: 2%;
    overflow: hidden;
}

.resCuentaDeS {

    font-size: 13px;

}

.tituCuentaDe {
    color: darkgoldenrod;
}

/* .cardInversionHistorico{

 height: 100px;
     
} */

.divHistorialAdmin::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}


.containerHistoAdmin {
    overflow: hidden;
    margin-top: 5%;
    height: 220px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.685);
}


@media (max-width: 768px) {

    #histori {
        margin-top: 12%;
        margin-left: 100px;
    }

    .divHistorialAdmin {
        overflow: auto;
        width: 118%;
        height: 600px;
        margin-left: 3%;
        margin-top: 1%;

    }

    .containerHistoAdmin {
        overflow: hidden;
        margin-top: 5%;
        height: auto;
        width: 100%;
        border-radius: 10px;

    }

    .tituCuentaDe {

        font-size: 14px;
        color: darkgoldenrod;

    }

    .resCuentaDeS {

        font-size: 15px !important;

    }


    .cuentaDe {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;

    }

    .cuentaOr {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;
    }


}


@media (max-width: 450px) {

    #histori {
        margin-top: 12%;
        margin-left: 100px;
    }

    .divHistorialAdmin {
        overflow: auto;
        width: 118%;
        height: 600px;
        margin-left: 3%;
        margin-top: 1%;

    }

    .containerHistoAdmin {
        overflow: hidden;
        margin-top: 5%;
        height: auto;
        width: 100%;
        border-radius: 10px;

    }

    .tituCuentaDe {

        font-size: 14px;
        color: darkgoldenrod;

    }

    .resCuentaDeS {

        font-size: 15px !important;

    }

    .divHisAdminPadre {

        display: block;
        ;

    }

    .cuentaDe {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;

    }

    .cuentaOr {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;
    }


}


@media (max-width: 425px) {

    #histori {
        margin-top: 12%;
        margin-left: 100px;
    }

    .divHistorialAdmin {
        overflow: auto;
        width: 118%;
        height: 600px;
        margin-left: 3%;
        margin-top: 1%;

    }

    .containerHistoAdmin {
        overflow: hidden;
        margin-top: 5%;
        height: auto;
        width: 100%;
        border-radius: 10px;

    }

    .tituCuentaDe {

        font-size: 14px;
        color: darkgoldenrod;

    }

    .resCuentaDeS {

        font-size: 15px !important;

    }

    .divHisAdminPadre {

        display: block;
        ;

    }

    .cuentaDe {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;

    }

    .cuentaOr {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;
    }

}



@media (max-width: 375px) {

    #histori {
        margin-top: 12%;
        margin-left: 100px;
    }

    .divHistorialAdmin {
        overflow: auto;
        width: 118%;
        height: 600px;
        margin-left: 3%;
        margin-top: 1%;

    }

    .containerHistoAdmin {
        overflow: hidden;
        margin-top: 5%;
        height: auto;
        width: 100%;
        border-radius: 10px;

    }

    .tituCuentaDe {

        font-size: 14px;
        color: darkgoldenrod;

    }

    .resCuentaDeS {

        font-size: 15px !important;

    }

    .divHisAdminPadre {

        display: block;
        ;

    }

    .cuentaDe {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;

    }

    .cuentaOr {

        width: 100%;
        display: block;
        margin-left: 2%;
        overflow: hidden;
    }

}