.ordeCre {
    display: flex;
    margin-left: 40%;
}

.containerPagavende2 {
    margin-top: 5%;
    margin-left: 20%;
}

.pagavende {
    color: rgb(163, 162, 162);
    font-size: 20px;
}

.colorTiempo {
    font-size: 20px;
    margin-left: 10px;
    color: rgb(255, 200, 127);
}

.containerFlotantePaga {
    margin-top: 5%;
    margin-left: 5%;
    width: 50%;
    height: 300px;
    background: rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;

}

.comprare{
    color: rgb(85, 131, 113);
}

.navi {
    margin-left: 40px;
    display: flex;
}

.crip {

    margin-left: 70px;
    color: rgb(168, 168, 168);
    /* border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #111111;
    border-left-color: transparent; */
}

.inputCom {
    width: 60%;
    height: 13%;
    margin-top: 4%;
    margin-left: 20%;
    display: flex;
    background: rgba(59, 59, 59, 0.7);
    overflow: hidden;
    border-radius: 5px;
}

.inpDiner {
    margin-left: 3%;
    width: 50%;
    margin-top: 1%;
    height: 80%;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    background: transparent;
}

.colorCol3 {
    margin-top: 3%;
    font-size: 17px;
    margin-left: 10px;

}

.colorCol4 {
    color: rgb(255, 153, 0);
    margin-top: 3%;
    font-size: 17px;
    margin-left: 10px;

}

.cantidadesTxt {
    margin-top: 4%;
    width: 100%;
    height: 30%;
}

.imporFiat {
    width: 50%;
    margin-top: 2%;
    margin-left: -30px;
    color: rgba(95, 94, 94, 0.863);
    font-size: 20px;
}

.usrayas {
    margin-top: 2%;
    color: rgba(255, 254, 254, 0.863);
    font-size: 20px;
    margin-left: 15%;
}

.saldofiat{
    margin-top: 2%;
    color: rgba(255, 254, 254, 0.863);
    font-size: 20px;
    margin-left: 2%;
}

.saldoprecio{
    margin-top: 2%;
    color: rgba(184, 184, 184, 0.863);
    font-size: 17px;
    margin-left: 2%; 
}

.coprayitas {
    margin-top: 2%;
    color: rgba(184, 184, 184, 0.863);
    font-size: 17px;
    margin-left: 20%;
}

.imprayitas {
    margin-top: 6%;
    color: rgba(184, 184, 184, 0.863);
    font-size: 20px;
    margin-left: 20%;
}

.btnComprarr {
    display: flex;
    margin-top: 70px;
    height: 50px;
}

.btnReaPago {
    margin-top: 1%;
    height: 80%;
    width: 50%;
    margin-left: 5%;
    border-radius: 5px;
    font-weight: bold;
    background: rgba(255, 187, 0, 0.904);
    color: rgb(5, 5, 5);
}

.btnCanPago{
    margin-top: 1%;
    height: 80%;
    width: 40%;
    margin-left: 3%;
    border-radius: 5px;
    font-weight: bold;
    background: rgb(54, 54, 54);
    color: #ffff;
}

.btnReaPago:hover {
    background: #fff;
    color: rgb(255, 102, 0);
}

.btnCanPago:hover {
    background: #fff;
    color: rgb(7, 7, 7);
}

.texInservible {
    margin-left: -20%;
    margin-top: 5%;
    display: flex;
    height: 200px;
}

.infOrdenCrea1 {

    margin-top: 1%;
    margin-left: 10%;
    width: 50%;
    height: 180px;
    

}

.chat{
    margin-left: 20%;
    color: yellow;
    font-size: 20px;
}

.Mensaje1{
    /* margin-top: 5%;
    font-size: 20px;*/ 
    margin-left: 0px;
    color: #5a5c5a; 
}

.inforr2 {
    margin-top: 0%;
    margin-left: -18%;
    width: 50%;
    height: 180px;
    padding: 1%;
    border-style: solid;
    border-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #5a5c5a;
}

.hpta{
    
    margin-top: 5%;
    width: 80%;
    font-size: 20px;
    margin-left: -100px;
    /* background: red; */
}

.tituinfo {
    font-size: 20px;
    margin-left: -300px;
}

.info2 {
    width: 80%;
    margin-top: 10px;
    display: flex;
}

.ventaPa {

    color: slategray;
    font-size: 18px;
}

.minu {
    font-size: 18px;
    margin-left: 35%;
}

.apodo {
    color: slategray;
    font-size: 18px;
}

.nomapodo {
    font-size: 18px;
    margin-left: 30%;
}

.metoPa {
    color: slategray;
    font-size: 18px;
}

.metoPago {
    font-size: 18px;
    margin-left: 15%;
}

.txtDescri {
    font-size: 20px;
    margin-left: -100px;
}

@media (max-width: 500px) {

    .compraU {
        display: flex;
        margin-left: 50%;
    }


    .containerFlotante {
        margin-top: 5%;
        margin-left: -17%;
        width: 140%;
        height: 300px;
        background: rgb(0, 0, 0, 0.4);
        border-radius: 10px;
        overflow: hidden;

    }

    .texInservible {
        width: 140%;
        margin-left: -15%;
        margin-top: 5%;
        display: block;
        height: 200px;
    }

    .info1 {
        margin-top: 1%;
        margin-left: 40%;
        width: 50%;
        height: 180px;

    }

    .tituinfo {
        font-size: 20px;
        margin-left: -300px;
    }

    .info2 {

        width: 200%;
        margin-left: -150px;
        margin-top: 10px;
        display: flex;

    }

    .infor2 {
        margin-top: 0%;
        margin-left: -1%;
        width: 100%;
        overflow: hidden;
        height: 180px;
        padding: 1%;
        border-style: solid;
        border-width: 1px;
        border-top-color: #5a5c5a;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    .txtDescri {
        font-size: 20px;
        margin-left: 10px;
    }
}